*{
    margin: 0 0 -4px 0;
    padding: 0;
    
}
.txtmn{
    font-size: 48px;
}
.foto_card{
    width: 100%;
    height: 100vh;
    position: initial;
    object-fit: cover;
}

.text_on_foto{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.logo{
    position: absolute;
    top: 10%;
    left: 91%;
    transform: translate(-50%,-50%);
}
.log{
    width: 171px;
}
.filial{
    position: absolute;
    top: 31%;
    left: 23%;
    transform: translate(-50%,-50%);
    
}
.filial_test{
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 22px #2454c9;
    padding: 5px 15px;
    background-color: transparent;
    border: 1px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.filial_test1{
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 22px #2454c9;
    padding: 5px 15px;
    background-color: transparent;
    border: 1px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    position: absolute;
    top: 41%;
    left: 23%;
    transform: translate(-50%,-50%);
}
.filial_test2{
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 22px #2454c9;
    padding: 5px 15px;
    background-color: transparent;
    border: 1px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    position: absolute;
    top: 51%;
    left: 23%;
    transform: translate(-50%,-50%);
}
.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}
.popup_area{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.popup:target {
    opacity: 1;
    visibility: visible;
}
.popup_body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.popup_content{
    text-align: center;
    background-color: #fff;
    color: black;
    max-width: 800px;
    padding: 50px 85px 90px 50px;
    border-radius: 30px;
    position: relative;
}
.popup_close{
    position: absolute;
}
form input {
    width: 100%;
    height: 50px;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 0 15px;
    display: flex;
    align-items: center;
  }
  
  form input.error{
    border-color:red;
  }
  
  form textarea {
    width: 100%;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    line-height: 18px;
  }
  
  form button {
    height: 50px;
    
    cursor: pointer;
    margin-bottom: 95px;
    border-radius: 10px;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #6d9ee3;
    padding: 18px;
    border-radius: 20px;
  }
  .tst{
    margin-bottom: 17px;
  }